@tailwind base;
@tailwind components;
@tailwind utilities;


/* CUSTOM CSS SECTION START */



*{
  font-family: 'Lato', sans-serif;
}


.heading-text{
  max-width: 90%;
}

.aikyam-theme {
  background-color: #2f9d99;
}

.aikyam-color {
  color: #2f9d99;
}

.aikyam-theme-btn-1 {
  background-color: #2f9d99;
  border: 1px solid #2f9d99;

}

.aikyam-theme-btn-2 {

  border: 1px solid #4dc9c5;
  color: #2f9d99;
}




.aikyam-theme-btn-1:hover {
  background-color: #168985;
  border: 1px solid #198c88;
}

.fill-blue-500 {
  fill: #2f9d99;
}


.fill-blue-300 {
  fill: #2f9d99;
}

.navbar:hover {
  color: #2f9d99;
}


.ring-blue-600 {
  --tw-ring-opacity: 1;
  --tw-ring-color: #2f9d99;
}

.ring-blue-megha {
  --tw-ring-opacity: 1;
  --tw-ring-color: #1da668;
}


.fill-blue-t4g {
  fill: #41ded8;
}



.fill-blue-t4g {
  fill: #41ded8;
}


.fill-blue-aikyam-rect {
  fill: #4fc5c3;
}

.fill-blue-aikyam-circle {
  fill: #187775;
}


.border-style-aikyam {
  border-radius: 22px;

}

/* #testimonials_btn:hover{
  text-decoration: underline;
} */



#testimonials_btn {
  transition: 1s ease;
}

#testimonials_btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  background-color: #45b9b5;
  padding: 12px;
  border-radius: 20px;
  color: rgb(13, 1, 1);
}


#btn {
  transition: 1s ease;
}

#btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  background-color: #45b9b5;
  padding: 12px;
  border-radius: 20px;
  color: rgb(13, 1, 1);
}





#aikyam-btn {
  transition: 1s ease;
}


#aikyam-btn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  background-color: #45b9b5;
  padding: 12px;
  border-radius: 20px;
  color: rgb(13, 1, 1);
}



/* .cover-img-style {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0) ;
} */


.navbar-brand {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.navbar-brand img {
  max-height: 70px;
  padding: 10px 60px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand img {
    max-height: 50px;
  }
}

.rounded-br-6xl {
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 2rem;
}




/* logos css */

.tinkerhub{
  max-width: 40%
}

.grow img{
  transition: 2s ease;
  }
  
  .grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }


  /* Location  */

  
.location-style{
  width: 1250px;
  height: 400px;
  }
  
  
  @media only screen and (max-width: 1356px) {
    .location-style{
      width: 800px;
      height: 400px;
      }
      
  }
  
  @media only screen and (max-width: 956px) {
    .location-style{
      width: 600px;
      height: 400px;
      }
      
  }
  @media only screen and (max-width: 500px) {
    .location-style{
      width: 350px;
      height: 300px;
      }
      
  }
  
  .location-div{
    display: flex;
    justify-content: center;
  }
  
  
  
  
  /* ********** */
  
  
  .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
/* conic-gradient(from -49.8deg at 50% 50%, #8cddd6 0deg, #0ecf2b 59.07deg, #88c572 185.61deg, #009688 284.23deg, #239e92 329.41deg, #8de1d9 360deg) */